@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

*{
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   margin: 0;
}
h2{
   font-size: 24px;
   font-weight: 700;
   line-height: 28px;
   text-align: center;
   width: 490px;
   padding: 20px;
   color: #FC200C;
      
}


nav{
display: flex;
list-style:none;
justify-content: flex-end;

}

header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #222222 ;
padding: 20px 80px;
}

main{
/*background-color: chartreuse;*/
display: flex;
justify-content: center;
align-items: center;
}



.header-first-container{
display: flex;
align-items: center;

}

.header-second-container{
display: flex;

}

li{
display: flex;
list-style: none;
justify-content: space-between;
color: white;
flex-grow: 0.5;
}

ul{
display: flex;
justify-content: space-around;
gap:20px;
/*flex-grow: 0.5;*/
}

ol li{
list-style: decimal;
color:black;
}

.background{
background-image: url('../img/delivery.jpg');
width: 490px;
height: 350px;
padding: 20px;

}
.title-container1-main{
color: #FFFFFF;

}
footer{
   background-color: #222222;
   padding: 0px 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
   
   }

.footer-last-container{
   display:flex;
   justify-content: center;
   flex-wrap: nowrap;
   align-items: center;

}

.nav-footer{
   display: flex;
   flex-direction: column;

}

.body-second-container{
   display:flex;

}
.container-body{
   display:flex;
   flex-direction: column;
}

.body-second-container{
   display:flex;
   flex-direction: column;

}
.img-second-container{
   width: 92px;
   height:129px
   

}
.list-container-body{
   display: flex;
   gap: 50px;

}
h3{
   padding-left: 40px;
   padding-bottom: 20px;
}
h2.title-list{
   padding-bottom:55px;

}